# 1. VARIABLES ASSIGNMENT

In [1]:
# Define a variable named "file_1" and assign a number (integer) to it
# integer is a whole number (no decimals) that could be positive or negative

my_number = 5000

In [2]:
# Let's view "file_1"
my_number

5000

In [3]:
# Define a variable named "file_2" and assign a number (float) to it
# Float are real numbers with a decimal point dividing the integer and fractional parts

my_decimal = 2000.5

In [4]:
# Let's view "file_2"
my_decimal

2000.5

In [5]:
# Let's overwrite "file_2" (assume your file value increased)
my_decimal = 3000.5

In [6]:
# Notice that "file_2" will only contain the most recent value
my_decimal

3000.5

In [7]:
# Get the type of "file_1" which is integer
# integer is a whole number (no decimals) that could be positive or negative
type(my_decimal)

int

In [8]:
# Get the type of "file_2" which is float
# Float are real numbers with a decimal point dividing the integer and fractional parts
type(my_decimal)

float

**MINI CHALLENGE #1:**
- **We defined a variable student_id and we assigned these 3 values listed below to it. Without executing any code cells, what will these lines of code generate?**
- **Verify your answer by executing the code cells** 



```
student_id = 3324
student_id = 3400
student_id = 3530
student_id
```

**MINI CHALLENGE #2:**
- **We defined a variable DSC_id and we assigned these 2 values listed below to it. Without executing any code cells, what will these lines of code generate?**
- **Verify your answer by executing the code cells** 



```
DSC_id = 112
DSC_id = 115.3
type(DSC_id)
```

# 2. MATH OPERATIONS

In [9]:
# Define a variable named students and initialize it with 5
# Let's assume that we had an additional student now we have 6 students instead of 5 
# We can increment students by 1 as follows:
students = 5
students = students + 1 
students

6

In [10]:
# Alternatively, we can increment the variable students by 1 as follows:
students = 5
students += 1 
students

6

In [11]:
# Let's assume that the tuition is $260 and we currently have 5 students in our file
# We can calculate the total file value (account balance) as follows:
student_count = 5
student_price = 260
account_balance = student_count * student_price
account_balance

1300

In [12]:
# Let's assume we have $20000 USD in our account
# We want to pay the tutors using the total amount 
# A tutor is paid $3116 each

account_balance = 20000
account_balance

20000

In [13]:
# Divide the account balance by the amount paid to each tutor and place the answer in units
tutor_fee = 3116 
units = account_balance/tutor_fee
units

6.418485237483954

**MINI CHALLENGE #3:** 
- **Write a code that calculates the total amount of money the DSC spend on tutor fees if the total number of tutors are 23 and each tutor is paid 2500 cedis**

**MINI CHALLENGE #4:**
- **Write a code that takes in the amount students paid a day and calculate the total amount of money received after two days:**
  - **fees paid on day 1 = 260 cedis** 
  - **fees paid on day 2 = 280 cedis**

# 3. ORDER OF OPERATIONS (PRECEDENCE)

In [14]:
# add 3 and 4 and then multiply the answer by 5
# Note that parantheses have the highest precedence
(3 + 4) * 5

35

In [15]:
# Multiplication has higher precedence compared to addition
1 + 2 * 3

7

In [16]:
# Division has higher precedence compared to addition
16 / 4 + 25 / 5

9.0

**MINI CHALLENGE #5:**
- **Assume that 15 students joined the coding program at a fee of 300 cedis per a student. DSC later increased the fee to 500 cedis per a student. Calculate the profit that will be made.**

**MINI CHALLENGE #6:** 
- **Write a code that performs the following mathematical operation: z = |x − y| * (x + y)**

# 4. PRINT OPERATION

In [17]:
# Print function is used to print elements on the screen
# Define a string x 
# A string in Python is a sequence of characters
# String in python are surrounded by single or double quotation marks
x = "Welcome to Python towards data science track"

In [18]:
# Obtain the data type for 'x'
type(x)

str

In [19]:
# Print x
print(x)

Welcome to Python towards data science track

In [20]:
# Define a string and put 'DSC' in it
company_name = "DSC"

In [21]:
# The format() method formats the specified value and insert it in the placeholder. 
# The placeholder is defined using curly braces: {}
print("Student name at {} is Barbara".format(company_name))

Student name at DSC is Barbara

In [22]:
total_students = 30

In [23]:
# You can place two or more placeholders with print function 
print("The total number of students at {} are {}".format(company_name, total_students))

The total number of students at DSC are 30

**MINI CHALLENGE #7:**
- **Write a code that print out the above statement along with your name**
- **i.e.: The total number of students at DSC are 30. (Barbara)**

# 5. GET USER INPUT

In [ ]:
# input is a built-in function in python
# Get student name as an input and print it out on the screen 
name = input("Welcome to DSC, What's your name: ")
print('Hello', name)

In [ ]:
# Obtain student data such as name, age and course and print them all out on the screen
name = input("Welcome to the DSC, please enter your name: ")
age = input("Enter your age: ")
course = input("Enter the name of your course: ")
print("My name is {}, I am {} years old, and i am in the {} track at the DSC".format(name, age, course))

In [ ]:
# Obtain user inputs, perform mathematical operation, and print the results 
# Note: Are you getting an error? Move to the next code cell 
x = input("Enter the tuition fees: ")
y = input("Enter the number of courses that you want to take: ")
print('The total funds required to take {} courses at {} cedis is {}'.format(y, x, x*y))

In [ ]:
# Convert from string datatype to integer datatype prior to performing addition

x = input("Enter the course fees: ")
x = int(x)
y = input("Enter the number of courses that you want to take: ")
y = int(y)
print('The total funds required to take {} courses at {} cedis per a course is {}'.format(y, x, x*y))

**MINI CHALLENGE #8:** 
- **Write a code that takes in the name of the company, course fee, the number of courses that you want to study and prints out the total funds required to pay for the courses. Find a sample expected output below:**

  - Enter the fee for a course you want to study: 3000  
  - Enter the number of courses that you want to pay for: 5
  - Enter the name of the company that you want to study at: DSC
  - The total funds required to pay for 5 number of DSC courses at 3000 is 15000

# EXCELLENT JOB