# 1. BOOLEANS

In [ ]:
# Boolean values can be represented as one of two constant objects "False" and "True". 
# Booleans behave like integers 0 and 1.
True

True

In [ ]:
False

False

In [ ]:
# Python has a function called "type()"
# It takes in a value and prints out its data type
# Let's check the data type of "True"

type(True)

bool

*Booleans come in handy when you're comparing two values*

```Let's say Musa's farm has 100 goats and 200 sheep```

In [ ]:
number_of_goats = 100
number_of_sheep = 200
# Variables names can't have spaces - so an underscore could be used to separate words in a variable


*Now you can ask python if the number of goats equals the number of sheep*

In [ ]:
print(number_of_goats == number_of_sheep)

False

In [ ]:
# This means that the number of sheep isn't equal to the number of goat
# The "!=" is the "isn't equal to" operator
print(number_of_goats != number_of_sheep)

![Indexing in Python.png](https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQsM2_EwqWYX8GGHvcEl1NIFiYay5wSuJjnYA&usqp=CAU)

Image: pylenin.com

*Take a look at the code above*

```Do you notice the double equal to sign, "==" ?```

### The "=" vs. "==" : what's the difference?

In [ ]:
# If I want to tell Python that the number of covid cases in Ghana is say 253
number_of_cases = 253

# But if I want to ask Python, is the number of covid cases in Ghana equal to 253
number_of_cases==253

True

In [ ]:
# Let's play around with it 
# What will this print out?
print(3==2)

False


**MINI CHALLENGE #1:** 
- **What will this code print out?**
```
number_of_pens = 20
number_of_bicycles = 30
print(number_of_pens < number_of_bicycles)
print(number_of_pens == number_of_bicycles)
```

In [ ]:
# Enter code here

  
   Awesome! Let's move on to the next data type

# 2. LIST
Lists are collections that :
* Have a specified order of arrangement
* Could have similar members

In [ ]:
# A list is placed in square brackets, "[...]" and each value is separated by a comma ","
my_list = [1, 2, 3]
print(my_list)

[1, 2, 3]

In [ ]:
# Lists allow duplicate/similar members
# Let's say you want to store the ages of 5 students in a class

age_list = [6, 7, 5, 6, 5]
print(age_list) 

# Note that it contains members with similar values

[6, 7, 5, 6, 5]

In [ ]:
# Obtain the datatype
# Remember the "type()" function
type(my_list)

list

### Indexing in Python Lists

In [ ]:
# Let's define a list to contain the week days
week_day_list = ["MON", "TUE", "WED", "THU", "FRI"]
print(week_day_list)

['MON', 'TUE', 'WED', 'THU', 'FRI']


Now let's try accessing the first weekday

![Indexing in Python.png]()

Image: alphacodingskills.com

In [ ]:
# To get the first week day, use an index of 0
week_day_list[0]

'MON'

In [ ]:
# To access last day, you can use the backward indexing
week_day_list[-1]

'FRI'

In [ ]:
# Try accessing Tuesday
# Enter code here

### Mixed and Nested Lists
You can also have a list with **mixed** datatypes (for example you can have strings, floats and integers in one list)

*Say, you want to store some info about your best friend*

```You know their favorite color is "orange", their favorite number is 5 and their height (m) is 1.80```

In [ ]:
bestie_list = ["orange", 5, 1.80]
print(bestie_list)

['orange', 5, 1.8]

In [ ]:
# You can access the height using indexing
bestie_list[2]

1.8

In [ ]:
# Try accessing the favorite color
# Enter code here



You can also have a list inside another list (**nested** list) 

*Let's say you also want to store info about your bestie's three siblings:*     
```Their favorite colors are "blue", "pink" and "yogurt pink"```      
```Their favorite numbers are 3, 9 and 4```      
```Their heights are 1.61, 1.82 and 1.75 respectively```

In [ ]:
# You can create a list of lists
# Each inner list represents one sibling
# The entire list contains all the siblings

bestie_siblings_list = [ ["blue", 3, 1.61], ["pink", 9, 1.82], ["yogurt pink",  4, 1.75] ]    
bestie_siblings_list

[['blue', 3, 1.61], ['pink', 9, 1.82], ['yogurt pink', 4, 1.75]]

### Indexing in Nested Python Lists

*You want to access the favorite color of the second sibling*

In [ ]:
# First, get all the info about the second sibling
bestie_siblings_list[1]

['pink', 9, 1.82]

In [ ]:
# Now, apply another indexing to get the favorite color
bestie_siblings_list[1][0]

'pink'

In [ ]:
# Let's try finding the height of the first sibling
bestie_siblings_list[0][2]

1.61

In [ ]:
# Try finding the favorite number the last sibling
# Enter code here

### List Slicing

*Imagine you have a list containing the ingredients needed for dinner tonight*

In [ ]:
ingredients_list = ["spam", "egg", "bacon", "tomato", "ham", "lobster"]
print(ingredients_list)

['spam', 'egg', 'bacon', 'tomato', 'ham', 'lobster']

You happened to change your mind and decided to settle for **bacon, tomato and ham**      
```How will you create a new list that contains only these three ingredients?```

![Indexing in Python.png]()


Image: Python Lists: Real Python

In [ ]:
# Slicing is done using an interval, like so 2:5 means 2, 3, 4
# The upper interval, 5, isn't included in the slice
ingredients_list[2:5]

['bacon', 'tomato', 'ham']

In [ ]:
# List Slicing (getting more than one element from a list) 
my_list = [2, 5, 7, "NAME", "AGE", "SEX", 15]

# obtain elements starting from index 3 up to and not including element with index 6  
print(my_list[3:6])

['NAME', 'AGE', 'SEX']

In [ ]:
# Obtain elements starting from index 3 to end
print(my_list[3:])

['NAME', 'AGE', 'SEX', 15]

In [ ]:
# All elements start to end
print(my_list[:])

[2, 5, 7, 'NAME', 'AGE', 'SEX', 15]

In [ ]:
# Obtain the length of the list (how many elements in the list) 
len(my_list)

7

**MINI CHALLENGE #2:**
- **Print the first, second and last element in the list below**
- **Print all elements in the list, first 3 elements, and last three elements**

```
list_1 = ["NAME", "AGE", "SEX", "KOFI", "222", "AMA", "YAW"]
```

In [ ]:
# Enter code here

**MINI CHALLENGE #3:** 
- **Print NAME**
- **Print AGE, NAME, KOFI** 
- **Print T with two different ways**

```
my_list = ["KWAMI", ["AGE", "NAME", "KOFI"], "YAW", "T"]
```

# 3. DICTIONARY
Dictionaries are great when you want to specify exactly what each entry represents

In [ ]:
# my_dict = {'key1':'value1', 'key2':'value2', 'key3':'value3'}

# Dictionary consists of a collection of key-value pairs. Each key-value pair maps the key to its corresponding value.
# Keys are unique within a dictionary while values may not be. 
# List elements are accessed by their position in the list, via indexing while Dictionary elements are accessed via keys

# Define a dictionary using key-value pairs
my_dict = {'key1':'value1',
           'key2':'value2', 
           'key3':'value3'}

In [ ]:
# View the dictionary
my_dict

{'key1': 'value1', 'key2': 'value2', 'key3': 'value3'}

Let's try the 'bestie info' code again

*Say, you want to store some info about your best friend*

```You know their favorite color is "orange", their favorite number is 5 and their height (m) is 1.80```

In [ ]:
# Let's create the dictionary
# Mostly, dictionary keys are strings
bestie_info = {"Favorite Color": "Orange", "Favorite Number": 5, "Height": 1.80}

In [ ]:
# Now if I want to access their Favorite Color
bestie_info["Favorite Color"]

'Orange'

In [ ]:
# Access their height
# Enter code here

In [ ]:
# Check the data type
type(my_dict)

dict

In [ ]:
# Define a dictionary for a bank client listing all of his/her assets
bank_assets = {"KOFI": 150000,
                "AMA": 10000,
                "SAMUEL": 20000}

print(bank_assets)

{'KOFI': 150000, 'AMA': 10000, 'SAMUEL': 20000}

In [ ]:
# Access elements in the dictionary
bank_assets["AMA"]

10000

*Barbara is a new client*   
```Add her info to the dictionary (Assets are 1500)```

In [ ]:
# Add a new item to an existing dictionary
bank_assets["Barbara"] = 1500
print(bank_assets)

{'KOFI': 150000, 'AMA': 10000, 'SAMUEL': 20000, 'Barbara': 1500}

*Samuel is no longer a client*     
```Remove his info from the dictionary```

In [ ]:
# Remove an item from the dictionary
del school_fees["SAMUEL"]
print(school_fees)

{'KOFI': 150000, 'AMA': 10000, 'Barbara': 1500}

In [ ]:
# delete the entire dictionary
# Note that you cannot print it out again because the entire dictionary has been deleted
del school_fees
print(school_fees)

NameError: ignored

**MINI CHALLENGE #4:**
- **Create a dictionary with 6 of your favourite items and their prices**

# 4. STRINGS

In [ ]:
# A string in Python is a sequence of characters
# String can be enclosed by either double or single quotes
my_string = "Hello Everyone and Welcome to Python towards data science track!"
my_string

In [ ]:
# Obtain the datatype
type(my_string)

In [ ]:
# Combining two strings together (Let's combine the first and last name of a student)
first_name = "Kofi" 
last_name = "Biden"
full_name = first_name + last_name
full_name

'DonaldBiden'

In [ ]:
# You can combine both strings together and add spaces in between
full_name = first_name + " " + last_name
full_name

'Donald Biden'

In [ ]:
# Methods on strings 
# upper will be used to convert the string into upper case
my_string.upper()

In [ ]:
# Split us used to divide up the string into words 
# The output from split is a list
x = my_string.split()
x

In [ ]:
# Let's check that the datatype is list!
type(x)

In [ ]:
# you can index any element in the list using indexing
x[1]

### The split method

*This is handy when you want to convert a string into a list*

Methods are called using a dot notation like so:

```
# string.split()
```

*You have the full name of a person: "Kwaku Yevenyo Trump"*   

```How will you generate a list that contains each name:``` 
```
[Kwaku, Yevenyo, Trump]
```

In [ ]:
name = 'Kwaku Yevenyo Trump'
name.split()

['Kwaku', 'Yevenyo', 'Trump']

In [ ]:
# You can specify which letter could be choosed to perform the split
mail = "abenaharris@gmail.com"

# If you want to separate the user name from the gmail part
mail.split("@")

['abenaharris', 'gmail.com']

**MINI CHALLENGE #5:**
- **Write a code that takes an input from a student asking him/her about their feedback regarding the course. The code should split the student input into words and print them on screen**

**MINI CHALLENGE #6:**
- **Write a code that prompts a user requesting his/her e-mail and then extracts the user first name (Note that the e-mail is in firstname.lastname@gmail.com**

# 5. TUPLES

In [ ]:
# A tuple is a sequence of immutable Python objects. 
# Tuples are sequences, just like lists. 
# The differences between tuples and lists are, the tuples cannot be changed unlike lists and tuples use parentheses, whereas lists use square brackets.

<table>
  <tr>
    <th>List</th>
    <th>Tuple</th>
  </tr>
  <tr>
    <td>Dyanamically Sized Collection</td>
    <td>Fixed Sized Collection</td>
  </tr>
  <tr>
    <td>Members are mutable/ changeable</td>
    <td>Members are immutable/ unchangeable</td>
  </tr>
</table>

In [ ]:
tuple_1 = ('NAME', 'AGE', 10, 15, 1992)
tuple_2 = (450, 55, 977, 2100)
type(tuple_1)

tuple

In [ ]:
tuple_1

In [ ]:
# Accessing elements in a tuple
tuple_1[1]

In [ ]:
# Tuple slicing
tuple_1[1:3]

In [ ]:
# Changing a value of a tuple does not work! 
# 'tuple' object does not support item assignment
tuple_1[1] = 0

TypeError: ignored

In [ ]:
# Create a New Tuple from existing Tuples
tuple_3 = tuple_1 + tuple_2
tuple_3

('NAME', 'AGE', 10, 15, 1992, 450, 55, 977, 2100)

**MINI CHALLENGE #7:**
- **Define a tuple with your first name, last name, age and the number of friends. Find the length and type as well.**

# 6. SETS

In [ ]:
# A set is an unordered collection of items. Every element is unique (no duplicates).
# A set is created by placing all the items (elements) inside curly braces {}, separated by comma or by using the built-in function set().
# set of integers
my_set = {'NAME', 'AGE', 'T'}
print(my_set)

In [ ]:
# set do not have duplicates
my_set = {'NAME', 'AGE', 'T','SEX','T','AGE'}
print(my_set)

**MINI CHALLENGE #8:**
- **Remove the duplicates from the following list:**


```
my_list = ['NAME', 'AGE', 'T','SEX','T','AGE', 5, 6,5]
```