# 1. COMPARISON OPERATORS

In [ ]:
# Comparison Operator output could be "True" or "False"
# Let's cover equal '==' comparison operator first
# It's simply a question: "Is number_of_girls equals number_of_boys or not?"
# "True" output means condition is satisfied 
# "False" output means Condition is not satisfied (condition is not true) 

number_of_females = 1000
number_of_males = 1000
number_of_females == number_of_males

True

In [ ]:
# Greater than or equal operator '>='

number_of_females = 5000
number_of_males = 1000
number_of_females >= number_of_males

True

In [ ]:
# Note that '==' is a comparison operator 
# Note that '=' is used for variable assignment (put 10 in number_of_females)
number_of_females = 10

In [ ]:
number_of_females

10

In [ ]:
# Comparison operators work with strings as well
'Python' == 'Python'

True

In [ ]:
# Both strings have to exactly match (lower case vs. upper case)
'Python' == 'python'

False

In [ ]:
# Not equal comparison operator '!='

number_of_females = 1000
number_of_males = 1000
number_of_females != number_of_males

False

**MINI CHALLENGE #1:**
- **Without executing the code cell, What will this code generate?**

```
number_of_males = 15
number_of_females = 10

print(number_of_males == number_of_females) 
print(number_of_males != number_of_females) 
print(number_of_males > number_of_females)
print(number_of_males < number_of_females) 
```

# 2. LOGICAL OPERATORS

In [ ]:
# For "and" logical operators, both arguments must be "True" in order for the output to be "True" 
# (Note that this is the only case in which the 'and' logical operator generates a True output)
# 1 and 1 = 1
True and True

True

In [ ]:
# 0 and 1 = 0
False and True

False

In [ ]:
# 0 and 0 = 0
False and False

False

In [ ]:
# For "or" logical operators, if any one of the arguments is "True", the output will be "True" 
# 1 or 1 = 1
True or True

True

In [ ]:
# 1 or 0 = 1
True or False

True

In [ ]:
# 0 or 1 = 1
False or True

True

In [ ]:
# 0 or 0 = 0 (Note that this is the only case in which the 'or' logical operator generates a False output)
False or False

False

In [ ]:
 # True and False = False 
(10>3) and (9==3)

False

In [ ]:
# True or False = True
(9>3) or (12==10)

True

**MINI CHALLENGE #2:**
- **Without executing the code cell, What will these two lines of code generate?**

```
print('PYTHON'!='PYTHON' and (10 > 3) and (20 == 20)) 
```

```
print('Python'!='PYTHON' or (16 > 20) or (25 == 25)) 
```

**MINI CHALLENGE #3:**
- **Without executing the code cell, What will these two lines of code generate?**

```
a = 5
b = 3.5

print(a == b or a != b) 
print(a == b and a != b) 
```

# 3. CONDITIONAL STATEMENTS

- A simple if-else statement is written in Python as follows:

```
if condition:
  statement #1
else:
  statement #2
```

- If the condition is true, execute the first indented statement
- if the condition is not true, then execute the else indented statements. 
- Note that Python uses indentation (whitespace) to indicate code sections and scope.

In [ ]:
if 10 > 9:
    print('If condition is True')
else:
    print('If condition is False')

If condition is True

In [ ]:
if 5 == 10:
    print('If condition is True')
else:
    print('If condition is False')

If condition is False

In [ ]:
if 5 == 7:
    print('First statement is true')
elif 2 == 4:
    print('Second statement is true')
else:
    print('Last statement is true')

Last statement is true

In [ ]:
if 5 < 7:
    print('First statement is true')
elif 2 > 4:
    print('Second statement is true')
else:
    print('Last statement is true')

First statement is true

In [ ]:
# Let's take an input from the user and grant or deny access accordingly
name = input('Enter your username:')

if name == 'Ryan':
    print("Access granted")
else:
    print("Access Denied")

Enter your username:Barbara
Access Denied

In [ ]:
# Let's make the code more robust (case insensitive)
name = input('Enter your username:')

if name == 'Ryan' or name =='RYAN' or name =='ryan':
    print("Access granted")
else:
    print("Access Denied")

Enter your username:Ryan
Access granted

**MINI CHALLENGE #4:**
- **Write a code that takes a number from the user and indicates if it's positive or negative**

**MINI CHALLENGE #5:**
- **Write a code that takes a number from the user and checks if the number is divisible by 3 but is not a multiple of 7**

**MINI CHALLENGE #6:** 
- **Write a code that takes a number from the user and indicate if the number is even or odd**