# 1. FOR LOOPS

In [1]:
# For loops are used for iterating over a sequence (a list, a tuple, a dictionary, a set, or a string).
# An action can be executed once for each item in a list, tuple of the for loop.
my_list = [1, 2, 3]
my_list

[1, 2, 3]

In [4]:
for i in my_list:
    print(i*2)

2
4
6

In [5]:
# you can do more than one task for every loop such as printing out 'Hello world' 
for i in my_list:
    print(i)
    print('Hello World')

1
Hello World
2
Hello World
3
Hello World

In [6]:
# List of strings
my_list = ['AGE', 'NAME', 'T', 'SEX', 'CLASS']

In [7]:
for i in my_list:
    print(i)

AGE
NAME
T
SEX
CLASS

In [8]:
# you can loop over a string as follows
for i in 'NAME':
    print(i)

N
A
M
E

**MINI CHALLENGE #1:**
- **Write a code that takes in a string and prints it out on the screen except for any letter 'T'. You can replace the letter 'T' with '*'.**

In [9]:
string = input("Enter your string:")

for c in string:
  if c=="T":
    print("*")
  else:
    print(c)

Enter your string:TATALE
*
A
*
A
L
E

In [15]:
h = input('Write a string:')
for i in h:
  if i=='T' or i=='t':
     print("*")
  else:
    print(i)

Write a string:TATALE
*
A
*
A
L
E

# 2. RANGE

In [ ]:
# Range() generates a list of numbers, which is used to iterate over with for loops.
# range() is 0-index based, meaning list indexes start at 0, not 1. 
# The last integer generated by range() is up to, but not including, last element. 
# Example: range(0, 10) generates integers from 0 up to, but not including, 10.

In [16]:
range(6)

range(0, 6)

In [18]:
for number in range(6):
    print(number*number)

0
1
4
9
16
25

In [19]:
range(1, 6, 2)

range(1, 6, 2)

In [21]:
# Range of numbers from 1 to 20 with steps of 2
for i in reversed(range(1, 20, 2)):
    print(i)

19
17
15
13
11
9
7
5
3
1

In [22]:
for i in reversed(range(1, 11)):
    print("Countdown to lift off:", i)

Countdown to lift off: 10
Countdown to lift off: 9
Countdown to lift off: 8
Countdown to lift off: 7
Countdown to lift off: 6
Countdown to lift off: 5
Countdown to lift off: 4
Countdown to lift off: 3
Countdown to lift off: 2
Countdown to lift off: 1

In [24]:
for i in reversed(range(1, 11)):
  print("Countdown to lift off:", i)

Countdown to lift off: 10
Countdown to lift off: 9
Countdown to lift off: 8
Countdown to lift off: 7
Countdown to lift off: 6
Countdown to lift off: 5
Countdown to lift off: 4
Countdown to lift off: 3
Countdown to lift off: 2
Countdown to lift off: 1

**MINI CHALLENGE #2:**
- **Write a code that takes in the maximum and minimum limits from the user and prints out even numbers only between the provided range**

**MINI CHALLENGE #3:**
- **Write a code that generates the following table:**
```
1   1    1
2   4    8
3   9   27
4  16   64
5  25  125
6  36  216
7  49  343
8  64  512
9  81  729
10 100 1000
```

# 3. WHILE LOOPS

In [25]:
# While loop can be used to execute a set of statements as long as a certain condition holds true.
pressure = 0

while pressure <= 15:
    print(pressure)
    pressure = pressure + 1

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15

In [26]:
my_list = ["red", "red", "red", "red", "red", "red", "red", "green", "red", "red" ]

for ball in my_list:
  print(ball)

red
red
red
red
red
red
red
green
red
red

In [27]:
i = 0

while my_list[i]=="red":
  i = i + 1
else:
  print("I have found the green ball")
  print(i)

I have found the green ball
7

**MINI CHALLENGE #4:**
- **Write a code that displays numbers from 1 to 30 using for and while loops**

**MINI CHALLENGE #5:**
- **Create a rolling dice game that assume we have two dice (#1 and #2). The dice is being thrown and a random number is generated everytime. The game should be designed such that it prompts the user to ask if he/she would like to keep playing or exit the game.**

# 4. BREAK A LOOP

In [ ]:
# break() is used to exit a for loop or a while loop
# continue() is used to skip the current block, and return to the "for" or "while" statement.

In [28]:
my_list = ["NAME", "AGE", "T", "CLASS", "SEX"]

In [29]:
my_list

['NAME', 'AGE', 'T', 'CLASS', 'SEX']

In [30]:
# print out all elements in the list
for i in my_list:
    print(i)

NAME
AGE
T
CLASS
SEX

In [31]:
# print out all elements in the list up until the AT&T stock (Ticker Symbol = T) is detected
for i in my_list:
    print(i)
    if i == 'T':
        break

NAME
AGE
T

In [49]:
# Import the time module
import time

start = time.time()


my_list = ["red", "red", "red", "red", "red", "red", "red", "green", "red", "red" ]

for ball in my_list:
  if ball == "green":
    print("I have found the ", ball, "ball")



end = time.time()

print("It took ", (end-start)* 1000, "ms")

I have found the  green ball
It took  1.1248588562011719 ms

In [37]:
# With the break: 0.370502ms
# Without the break: 1.1248ms

I have found the  green ball

In [ ]:
# Without the break statement
my_list = ["red", "red", "red", "red", "red", "red", "red", "green", "red", "red" ]

for ball in my_list:
  if ball == "green":
    print(ball)
    break

In [50]:
# Print only odd elements and skip even numbers
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

for i in range(1, 11):
    if i==8:
        continue
    print(i)

1
2
3
4
5
6
7
9
10

**MINI CHALLENGE #6:**
- **Write a code that continiously gets data from the user and calculates the average and print out on the screen. The code exits when the user enters 'e'.**

# 5. NESTED LOOPS

In [ ]:
# Nested loops are loops that exist inside the body of another loop
for x in range(1, 4): # slow loop 
    for y in range(1, 11):   # fast loop
        print('{} * {} = {}'.format(x, y, x*y))

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

In [ ]:
color_list = ['black', 'white', 'gold']
phone_list = ['iphone', 'samsung', 'blackberry']
for i in color_list:
    for j in phone_list:
        print(i, j)

black iphone
black samsung
black blackberry
white iphone
white samsung
white blackberry
gold iphone
gold samsung
gold blackberry

**MINI CHALLENGE #7:**
- **Write a code that takes in a number (range between 1 and 9) from the user and print out the multiplication table up until that number.**

# 6. LIST COMPREHENSION

In [43]:
list_1 = [i for i in range(1, 11)]
list_1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [44]:
our_list = [c for c in "Mike"]
our_list

['M', 'i', 'k', 'e']

In [ ]:
# List comprehension is an elegant tool to transform one list into another list. 
# Instead of using loops and append, list comprehension is used to iterate over a list, condition its elements and include them in a new list.
# Let's take a look at the traditional way of taking a list and squaring its elements
input_list = [1, 2, 3, 4]
output_list = []

for element in input_list:
    output_list.append(element **2)

print(output_list)

[1, 4, 9, 16]

In [ ]:
# List comprehension is a super powerful one line of code!
[ element ** 2  for element in input_list]

[1, 4, 9, 16]

In [ ]:
# Let's square even numbers only 
# We need to insert a condition 
input_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
output_list = []
for i in input_list:
    if i % 2==0:
        output_list.append(i**2)
print(output_list)

[4, 16, 36, 64, 100]

In [ ]:
# All this could be done with one line of code as well using List Comprehension
output_list = [i**2  for i in input_list if i%2 == 0  ]
output_list

[4, 16, 36, 64, 100]

**MINI CHALLENGE #8:**
- **Write a code that takes in a list of prices of 7 items and then divide each price by the sum of all the prices**