# 1. BUILT-IN FUNCTIONS

We've had a look at some functions in Python already

1. Print Function

In [ ]:
print("Hello world !")

Hello world !

2. Type Function

In [ ]:
# This shows you the data type of the input
type(2)

int

3. List Function

 Let's define 2 lists: x and y    


```
x consists of a list of random integers
y consists of the first 6 counting numbers
```

In [ ]:
# Define x
x = [4, 1, 5, 5, 6, 7]

In [ ]:
# Now if we want a list, y: [1, 2, 3, 4, 5, 6]
# We could either define it manually or use the list function

range(1, 7)

range(1, 7)

In [ ]:
list(range(1, 7))

[1, 2, 3, 4, 5, 6]

In [ ]:
y = list(range(1, 7))
print(y)

[1, 2, 3, 4, 5, 6]

4. Len function

In [ ]:
len(x)

NameError: ignored

In [ ]:
# Let's obtain the length of y
len(y)

6

5. Min function

In [ ]:
# Let's obtain the minimum value of x
min(x)

1

6. Max function

In [ ]:
# Let's obtain the maximum value
max(x)

7

7. Sum function

In [ ]:
# Let's obtain the sum of elements in x
print(sum(x))

28

**MINI CHALLENGE #1:**     
*A classs of students take a test which is graded out of 10*
- ```Write code to find the average score in a class of 10 students```      

*The "score_list" contains the scores of each student*

In [ ]:
score_list = [7, 8, 9, 7, 5, 5, 10, 6, 8, 9]
# Enter code here


# Hint: average = sum of the scores / length of the score list

# 2. CUSTOM FUNCTIONS

Functions are a way of reusing code you've already written

**Scenario**      
You're creating a social media site and want to welcome a user whenever they sign in

In [ ]:
# Let's define a function named "welcome_user" that does not receive any arguments
def welcome_user():
    print("Welcome to Rattler")

In [ ]:
# We can now call the function anytime a user signs in
welcome_user()

Welcome to Rattler

*Function can take inputs as well*  

**Scenario**       
We want to upgrade our welcome message to include the user's name       
Like so:       
```Welcome Manu to Rattler```

In [ ]:
def welcome_user(name):
  print("Welcome to Rattler", name)

In [ ]:
# We can now call the function and pass in the input/argument
welcome_user("Manu")

Welcome Manu to Rattler

In [ ]:
# So now, we can welcome any user at all 
# First ask for their username
username = input("Enter your username: ")

# Now welcome them to your site
welcome_user(username)

Enter your username: Nutifafa
Welcome Nutifafa to Rattler

## Return statements

In cases where you want to produce a value from the function, you'll use a return statement

In [ ]:
# Define a function that takes in argument x and return the squared value 
def square_number(x):
    return x ** 2

In [ ]:
# In this case, you can assign a variable to the value that you produced
output = square_number(7)

In [ ]:
output

49

**MINI CHALLENGE #2:** 
- **Write a code that takes in two inputs (number of items bought and prices) from the user and calculate the total account balance**

In [ ]:
# Enter code here

# 3. LAMBDA EXPRESSIONS

The normal syntax for a function is:        
```
def my_function(x):        
    return your_output     
```

Lambda expressions are a shorthand version of this:    
```
lambda x: your_output
```

* Lambda function is used to create a function without a name 
* Lambda functions are mainly used with filter() and map() [they will be discussed later on]

In [ ]:
# Let's take another look at the "square_number" function
def square_number(x):
    return x**2

In [ ]:
# Function call
square_number(3)

9

In [ ]:
# We can accomplish the same task using Lambda expression

y = lambda x:x**2

In [ ]:
y(3)

9

In [ ]:
# Note that lambda expression can take in more than one argument 
# Let's create a function that sums up three numbers
def sum_numbers(x, y, z):
    return x+y+z

In [ ]:
sum_numbers(1, 2, 3)

6

In [ ]:
result = lambda  x, y, z : x+y+z

In [ ]:
result(1, 2, 3)

6

**MINI CHALLENGE #3:**
- **Repeat mini challenge #2 (Write a code that takes in two inputs from the user and calculates the total) using lambda expressions instead**

In [ ]:
# Enter code here

# 4. MAP

"map" allows us to perform a function on each member of a list     

**Scenario**       
Your students didn't perform so well in a test which was graded out 30.      
Here are their scores:
```
score_list = [6, 7, 9, 11, 5, 13, 10, 8, 7, 4]
```

In [ ]:
# You decide to add 5 marks to each person's score
score_list = [6, 7, 9, 11, 5, 13, 10, 8, 7, 4]

In [ ]:
# This is where the "map" becomes useful
# First define function that adds 5 marks to each student's score
def add_5(score):
  return score + 5

In [ ]:
# Now the map function allows you to add 5 marks to each score
map(add_5, score_list)

In [ ]:
# To see the actual list, use the list function
list(map(add_5, score_list))

[11, 12, 14, 16, 10, 18, 15, 13, 12, 9]

In [ ]:
# We can use lambda expressions for the same task
list( map( lambda x: x + 5, score_list ) )

"map" can also take in **two** lists and perform a function on them together

**Scenario**       
You decided to conduct another test for your students     
Here are the scores on the second test:       

```   
score_list_1 = [6, 7, 9, 11, 5, 13, 10, 8, 7, 4]
score_list_2 = [20, 24, 27, 19, 21, 25, 21, 22, 24, 28]
```

In [ ]:
score_list_1 = [6, 7, 9, 11, 5, 13, 10, 8, 7, 4]
score_list_2 = [20, 24, 27, 19, 21, 25, 21, 22, 24, 28]

In [ ]:
# Let's define a function that adds two scores together
def sum_scores(score_1, score_2):
    return score_1 + score_2

In [ ]:
# You can now use map() to apply a function to the entire list and generate a new list
map(sum_scores, score_list_1, score_list_2)

In [ ]:
list(map(sum_scores, score_list, score_list_2))

[26, 31, 36, 30, 26, 38, 31, 30, 31, 32]

In [ ]:
# We can use lambda functions as well 
list( map(lambda x, y: x+y, score_list_1, score_list_2) )

[26, 31, 36, 30, 26, 38, 31, 30, 31, 32]

**MINI CHALLENGE #4:**
- **Write a function that takes an argument and return its cubic value**
- **Define a list of integers ranging from -10 to 10** 
- **Apply the function to the entire list and generate a new output list**

In [ ]:
# Enter code here
def cube_number(number):
  return number ** 3

In [ ]:
list_1 = list(range(-10, 11))
list_1

[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# 5. FILTER     
"filter" allows us to selective choose certain members in a list    

**Scenario**     
*You have a list of prices of packs of milk from different brands. Since you have a budget, you want to consider prices 50 cedis or less*

In [ ]:
price_list = [30, 63, 45, 48, 35, 55, 38, 40]

In [ ]:
# Now we'll define a function that returns if the price is below 50
def select_pack(price):
  return price <= 50

In [ ]:
filter(select_pack, price_list)

In [ ]:
list(filter(select_pack, price_list))

[30, 45, 48, 35, 38, 40]

In [ ]:
# We can use lambda functions to perform the same task
list(filter(lambda x: x <= 50, price_list))

[30, 45, 48, 35, 38, 40]

In [ ]:
# Try finding prices less than or equal to 45
# Enter code here

**MINI CHALLENGE #5:**
- **Write a code from the user that takes in a range (upper and lower bounds) and returns a list of positive and even numbers only**