<a href="https://colab.research.google.com/github/barbara99/unicorndevelopers_python/blob/main/5_Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. BUILT-IN FUNCTIONS

In [2]:
# There are many built-in functions that you can leverage directly 
# Let's define 2 lists x and y
x = [4, 5, 1, 2, 8, 5]
y = list(range(1, 7))

In [4]:
x

[4, 5, 1, 2, 8, 5]

In [3]:
y

[1, 2, 3, 4, 5, 6]

In [5]:
# Let's obtain the length of y
len(y)

6

In [6]:
# Let's obtain the minimum value 
min(x)

1

In [7]:
# Let's obtain the maximum value
max(x)

8

In [8]:
# Let's create a tuple out of the list
z = tuple(x)

In [9]:
z

(4, 5, 1, 2, 8, 5)

In [10]:
type(z)

tuple

In [11]:
# Let's obtain the sum of elements in x
print(sum(x))

25

**MINI CHALLENGE #1:**
- **Write a code that takes in 2 lists x = [-1 -4 -7] and y = [-3 7 4] and  calculates the absolute sum of all its elements |x+y|**

# 2. FUNCTIONS

In [13]:
# Let's define a function named "my_function" that does not receive any arguments
# The function simply prints out content and does not return anything
def my_function():
    print('Welcome to Python towards data science track!')

In [14]:
# Function call
my_function()

Welcome to Python towards data science track!

In [15]:
# Define a function that takes in argument x and return the squared value 
def squared(x):
    return x ** 2

In [16]:
# Call the function
output = squared(4)
output

16

In [18]:
# Define a function with default value 
def my_function(amount = 20000):
    print("My total income is = {}".format(amount))

In [19]:
# If you pass an argument to the function, it overwrites the default value 
my_function(600000)

My total income is = 600000

In [20]:
# If you don't pass an argument, the default value "20000" will be used instead
my_function()

My total income is = 20000

**MINI CHALLENGE #2:** 
- **Write a code that takes in two inputs (number of items bought and prices) from the user and calculate the total account balance**

# 3. LAMBDA EXPRESSIONS

In [ ]:
# Lambda function is used to create a function without a name 
# Lambda functions are mainly used with filter() and map() [they will be discussed later on]. 
# Lambda function can receive any number of arguments, but can only have one expression.

In [21]:
# let's see how to create a basic function that squares the input
def my_function(x):
    return x**2

In [22]:
# Function call
my_function(3)

9

In [25]:
# We can do the same task using Lambda expression
# Note that there is no function name
y = lambda x:x**2

In [26]:
y(3)

9

In [27]:
# Note that lambda expression can take in more than one argument 
# there is only one expression that could be performed
def summation(x, y, z):
    return x+y+z

In [28]:
result = summation(1, 2, 3)
result

6

In [30]:
result = lambda    x, y, z : x+y+z

In [ ]:
result(1, 2, 3)

6

**MINI CHALLENGE #3:**
- **Repeat mini challenge #2 (Write a code that takes in two inputs from the user and calculates the total) using lambda expressions instead**

# 4. MAP

In [32]:
# The map() function takes in a function and a list.
# map() performs an operation on the entire list and return the results in a new list.
# Define two lists a and b
a = [1, 4, 5, 6, 9]
b = [1, 7, 9, 12, 7]

In [33]:
# Let's define a function that adds two elements together
def summation(a, b):
    return a + b

In [34]:
# You can now use map() to apply a function to the entire list and generate a new list
c = list(map(summation, a, b))
c

[2, 11, 14, 18, 16]

In [35]:
# map could be used with Lambda as follows
# lambda function is an anonymous function that take any number of arguments and can only have one expression
input_list = [1, 2, 3, 4]

out_list = list(map ( lambda x:x**2 , input_list))
out_list

[1, 4, 9, 16]

**MINI CHALLENGE #4:**
- **Write a function that takes an argument and return its cubic value**
- **Define a list of integers ranging from -10 to 10** 
- **Apply the function to the entire list and generate a new output list**

# 5. FILTER

In [36]:
# filter is used to create a list of elements for which a function returns "True".
prices = [105, 5055, 40, 356, 923, 1443, 222, 62]

In [37]:
# return only even numbers
out = list(filter( lambda x: (x % 2 == 0) , prices  ))
out

[40, 356, 222, 62]

In [38]:
# Return prices that are greater than or equal 100
prices = [105, 5055, 40, 356, 923, 1443, 222, 62]
out = list(  filter(lambda x: (x>=100) , prices) )
out

[105, 5055, 356, 923, 1443, 222]

In [39]:
# Return values between 200 and 250
out = list(  filter(lambda x: (x>=200 and x<=250) , prices) )
out

[222]

**MINI CHALLENGE #5:**
- **Write a code from the user that takes in a range (upper and lower bounds) and returns a list of positive and even numbers only**